/* font-family: 'Cinzel Decorative', cursive; */
/* font-family: 'Cormorant Upright', serif; */
.navbar {
  font-family: "Cinzel Decorative", cursive;
}
.profileImage {
  height: 35px;
  width: 30px;
}
